# vim:ts=4
# rename sub manu file to fit menu description

PROMPT 0
TIMEOUT 90
UI /boot/syslinux/vesamenu.c32
#MENU BACKGROUND /boot/slax.png

MENU BEGIN
	MENU TITLE Ubuntu
	INCLUDE /boot/syslinux/z_ubuntu.cfg
MENU END

MENU BEGIN
	MENU TITLE Rescue
	INCLUDE /boot/syslinux/z_rescue.cfg
MENU END

MENU SEPARATOR

MENU BEGIN
	MENU TITLE Microsoft
	INCLUDE /boot/syslinux/z_ms.cfg
MENU END

LABEL memtest86
	MENU LABEL Run Memtest
	KERNEL /boot/syslinux/mt86p

