# vim:ts=4

LABEL hd3a
	KERNEL chain.c32
	APPEND hd3 1

LABEL DOS
	MENU LABEL DOS 7x
	LINUX /boot/syslinux/memdisk
	INITRD /dos/winme.img
	APPEND raw

LABEL Win XP
	MENU LABEL Local WinXP
	localboot 0x80
	TEXT HELP

LABEL Winxpe
	MENU LABEL Start Windows PE
	KERNEL chain.c32
	APPEND hd0 1 ntldr=/boot/xpeldr

LABEL NoName XPE
	MENU LABEL Start Windows PE Nano
	KERNEL chain.c32
	APPEND hd0 2 ntldr=/boot/nanoldr

LABEL Win7pe
	MENU LABEL Boot Win7 PE
	KERNEL /BOOT/SYSLINUX/CHAIN.C32
	APPEND hd0 3 ntldr=/boot/bootmgr
