# vim:ts=4
# Should be renamed to z_ubuntu.cfg

DEFAULT Ubuntu_64

LABEL Ubuntu_32
	MENU LABEL Ubuntu 32
	KERNEL /boot/syslinux/chain.c32
	APPEND hd0 2

LABEL Ubuntu_64
	MENU LABEL Ubuntu 64
	KERNEL /boot/syslinux/chain.c32
	APPEND hd0 3

